body {
    background-color: rgb(1, 95, 1);
}
.container {
    margin-top: 20px;
    margin-bottom: 20px;
    background: #fff;
    display: flex;
    flex-direction: column;
}

.center-special {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sortear {
    width: 100%;
}

i {
    cursor: pointer;
}